<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Dinosaur</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h2>What dinosaur are you Jurassic Parking?</h2>
    <form class="newdino" action="/" method="post">
      <input type="text" name="name" value="" placeholder="Name">
      <input type="text" name="image" value="" placeholder="Image URL">
      <input type="text" name="size" value="" placeholder="Size">
      <input type="text" name="weight" value="" placeholder="Weight">
      <input type="text" name="period" value="" placeholder="Period">
        <br>
      <label for="habitats">Habitats</label>
        <br>
      <input type="checkbox" name="habitats" value="jungle">Jungle <br>
      <input type="checkbox" name="habitats" value="forest">Forest <br>
      <input type="checkbox" name="habitats" value="coastal">Coastal<br>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
